In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
df

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45
5   6/3/2022  yes  asif    NaN  NaN    NaN         6
6   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

df.groupby(b)

In [9]:
gr1=df.groupby(by='name')
gr1

In [11]:
gr1.groups

{'asif': [5], 'asim': [0], 'zaib': [4], 'zain': [1]}

In [12]:
gr2=df.groupby(['name','roll'])
gr2

In [22]:
gr2.groups

{('asif', nan): [5], ('asim', 13.0): [0], ('zaib', 156.0): [4], ('zain', 143.0): [1], (nan, 12.0): [6], (nan, nan): [2, 3]}

In [30]:
for name, df_1 in gr1:
     print(name)
    print(df_1)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)