In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45
5   6/3/2022  yes  asif    NaN  NaN    NaN         6
6   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

In [3]:
df=pd.read_csv('D:\\Paython\\Book1.csv', nrows=1)
print(df)

       date  abc  name  roll  id  med  customer
0  1/9/2022  yes  asim    13   1  123        34

In [4]:
df=pd.read_csv('D:\\Paython\\Book1.csv', nrows=5)
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45

In [5]:
type (df )

pandas.core.frame.DataFrame

In [6]:
df.columns

Index(['date', 'abc', 'name', 'roll', 'id', 'med', 'customer'], dtype='object')

In [7]:
df=pd.read_csv('D:\\Paython\\Book1.csv', usecols=(1,2))
print(df)

   abc  name
0  yes  asim
1  yes  zain
2   no   NaN
3  yes   NaN
4   no  zaib
5  yes  asif
6  NaN   NaN

In [8]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45
5   6/3/2022  yes  asif    NaN  NaN    NaN         6
6   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

In [9]:
df=pd.read_csv('D:\\Paython\\Book1.csv', skiprows=1)
print(df)

    1/9/2022  yes  asim     13    1    123  34
0   1/2/2019  yes  zain  143.0  2.0  345.0  23
1   4/6/2019   no   NaN    NaN  3.0    NaN   2
2  4/11/2022  yes   NaN    NaN  NaN  345.0   3
3  2/10/2021   no  zaib  156.0  NaN  987.0  45
4   6/3/2022  yes  asif    NaN  NaN    NaN   6
5   2/4/2022  NaN   NaN   12.0  7.0    NaN   7

In [10]:
df=pd.read_csv('D:\\Paython\\Book1.csv', skiprows=[0])
print(df)

    1/9/2022  yes  asim     13    1    123  34
0   1/2/2019  yes  zain  143.0  2.0  345.0  23
1   4/6/2019   no   NaN    NaN  3.0    NaN   2
2  4/11/2022  yes   NaN    NaN  NaN  345.0   3
3  2/10/2021   no  zaib  156.0  NaN  987.0  45
4   6/3/2022  yes  asif    NaN  NaN    NaN   6
5   2/4/2022  NaN   NaN   12.0  7.0    NaN   7

In [11]:
df=pd.read_csv('D:\\Paython\\Book1.csv', skiprows=[5])
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4   6/3/2022  yes  asif    NaN  NaN    NaN         6
5   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

In [12]:
df=pd.read_csv('D:\\Paython\\Book1.csv', index_col=[2])
print(df)

           date  abc   roll   id    med  customer
name
asim   1/9/2022  yes   13.0  1.0  123.0        34
zain   1/2/2019  yes  143.0  2.0  345.0        23
NaN    4/6/2019   no    NaN  3.0    NaN         2
NaN   4/11/2022  yes    NaN  NaN  345.0         3
zaib  2/10/2021   no  156.0  NaN  987.0        45
asif   6/3/2022  yes    NaN  NaN    NaN         6
NaN    2/4/2022  NaN   12.0  7.0    NaN         7

In [13]:
df=pd.read_csv('D:\\Paython\\Book1.csv', index_col=[1])
print(df)

          date  name   roll   id    med  customer
abc
yes   1/9/2022  asim   13.0  1.0  123.0        34
yes   1/2/2019  zain  143.0  2.0  345.0        23
no    4/6/2019   NaN    NaN  3.0    NaN         2
yes  4/11/2022   NaN    NaN  NaN  345.0         3
no   2/10/2021  zaib  156.0  NaN  987.0        45
yes   6/3/2022  asif    NaN  NaN    NaN         6
NaN   2/4/2022   NaN   12.0  7.0    NaN         7