In [2]:
import pandas as pd

In [3]:
em_df=pd.DataFrame()
print(em_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
lst=[1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [5]:
df=pd.DataFrame(lst)
print(df)

   0
0  1
1  2
2  3
3  4

In [6]:
df

   0
0  1
1  2
2  3
3  4

In [7]:
lst_of_lst=[[1,2,3,4], [5,6,7,8], [9,10,11,12]]
print(lst_of_lst)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [8]:
pd2=pd.DataFrame(lst_of_lst)
print(pd2)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [13]:
pd2

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [10]:
dic1={'SN':[1,2,3,4], 'ID':[11,12,13,14]}
dic1

{'SN': [1, 2, 3, 4], 'ID': [11, 12, 13, 14]}

In [11]:
df4=pd.DataFrame(dic1)
print(df4)

   SN  ID
0   1  11
1   2  12
2   3  13
3   4  14

In [34]:
dict_sr=({'SN': pd.Series([1,2,3,4]), 'ID': pd.Series([11,12,13,14])})
df6=pd.DataFrame(dict_sr)
print(df6)

   SN  ID
0   1  11
1   2  12
2   3  13
3   4  14

In [15]:
dic2={'SN':[], 'ID':[]}
df8=pd.DataFrame(dic2)
print(df8)

Empty DataFrame
Columns: [SN, ID]
Index: []