In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
print(df)

   abc   name       roll   id
0  yes   asim         13  1.0
1   no    ali         12  2.0
2  NaN   zain        143  3.0
3   no   zaib        153  4.0
4  yes  faria  not avail  NaN
5   no  zaini        156  6.0
6  NaN    NaN        NaN  NaN

In [3]:
df=pd.read_csv('D:\\Paython\\Book1.csv', na_values=['not avail'])
print(df)

   abc   name   roll   id
0  yes   asim   13.0  1.0
1   no    ali   12.0  2.0
2  NaN   zain  143.0  3.0
3   no   zaib  153.0  4.0
4  yes  faria    NaN  NaN
5   no  zaini  156.0  6.0
6  NaN    NaN    NaN  NaN

In [4]:
df=pd.read_csv('D:\\Paython\\Book1.csv', keep_default_na=False )
print(df)

    abc   name       roll    id
0   yes   asim         13     1
1    no    ali         12     2
2  null   zain        143     3
3    no   zaib        153     4
4   yes  faria  not avail  null
5    no  zaini        156     6
6  null   null       null  null

In [5]:
df=pd.read_csv('D:\\Paython\\Book1.csv', na_filter=False)
print(df)

    abc   name       roll    id
0   yes   asim         13     1
1    no    ali         12     2
2  null   zain        143     3
3    no   zaib        153     4
4   yes  faria  not avail  null
5    no  zaini        156     6
6  null   null       null  null

In [6]:
df=pd.read_csv('D:\\Paython\\Book1.csv', na_filter=True)
print(df)

   abc   name       roll   id
0  yes   asim         13  1.0
1   no    ali         12  2.0
2  NaN   zain        143  3.0
3   no   zaib        153  4.0
4  yes  faria  not avail  NaN
5   no  zaini        156  6.0
6  NaN    NaN        NaN  NaN