In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45
5   6/3/2022  yes  asif    NaN  NaN    NaN         6
6   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

In [6]:
df=pd.read_csv('D:\\Paython\\Book1.csv' ,squeze=T
print(df)

TypeError: read_csv() got an unexpected keyword argument 'squeze'

In [3]:
df=pd.read_csv('D:\\Paython\\Book1.csv', header=1)
print(df)

    1/9/2022  yes  asim     13    1    123  34
0   1/2/2019  yes  zain  143.0  2.0  345.0  23
1   4/6/2019   no   NaN    NaN  3.0    NaN   2
2  4/11/2022  yes   NaN    NaN  NaN  345.0   3
3  2/10/2021   no  zaib  156.0  NaN  987.0  45
4   6/3/2022  yes  asif    NaN  NaN    NaN   6
5   2/4/2022  NaN   NaN   12.0  7.0    NaN   7

In [4]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45
5   6/3/2022  yes  asif    NaN  NaN    NaN         6
6   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

In [5]:
df=pd.read_csv('D:\\Paython\\Book1.csv', header=2)
print(df)

    1/2/2019  yes  zain    143    2    345  23
0   4/6/2019   no   NaN    NaN  3.0    NaN   2
1  4/11/2022  yes   NaN    NaN  NaN  345.0   3
2  2/10/2021   no  zaib  156.0  NaN  987.0  45
3   6/3/2022  yes  asif    NaN  NaN    NaN   6
4   2/4/2022  NaN   NaN   12.0  7.0    NaN   7

In [6]:
df=pd.read_csv('D:\\Paython\\Book1.csv')
print(df)

        date  abc  name   roll   id    med  customer
0   1/9/2022  yes  asim   13.0  1.0  123.0        34
1   1/2/2019  yes  zain  143.0  2.0  345.0        23
2   4/6/2019   no   NaN    NaN  3.0    NaN         2
3  4/11/2022  yes   NaN    NaN  NaN  345.0         3
4  2/10/2021   no  zaib  156.0  NaN  987.0        45
5   6/3/2022  yes  asif    NaN  NaN    NaN         6
6   2/4/2022  NaN   NaN   12.0  7.0    NaN         7

In [7]:
df=pd.read_csv('D:\\Paython\\Book1.csv', header=None)
print(df)

           0    1     2     3    4    5         6
0       date  abc  name  roll   id  med  customer
1   1/9/2022  yes  asim    13    1  123        34
2   1/2/2019  yes  zain   143    2  345        23
3   4/6/2019   no   NaN   NaN    3  NaN         2
4  4/11/2022  yes   NaN   NaN  NaN  345         3
5  2/10/2021   no  zaib   156  NaN  987        45
6   6/3/2022  yes  asif   NaN  NaN  NaN         6
7   2/4/2022  NaN   NaN    12    7  NaN         7

# Prefix

In [8]:
df=pd.read_csv('D:\\Paython\\Book1.csv', header=None, prefix='data')
print(df)

       data0 data1 data2 data3 data4 data5     data6
0       date   abc  name  roll    id   med  customer
1   1/9/2022   yes  asim    13     1   123        34
2   1/2/2019   yes  zain   143     2   345        23
3   4/6/2019    no   NaN   NaN     3   NaN         2
4  4/11/2022   yes   NaN   NaN   NaN   345         3
5  2/10/2021    no  zaib   156   NaN   987        45
6   6/3/2022   yes  asif   NaN   NaN   NaN         6
7   2/4/2022   NaN   NaN    12     7   NaN         7

C:\Program Files\KMSpico\temp\ipykernel_7944\1538846046.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  df=pd.read_csv('D:\\Paython\\Book1.csv', header=None, prefix='data')

# Names

In [11]:
df=pd.read_csv('D:\\Paython\\Book1.csv', names=['a','b','c','d','e','f'],'e')
print(df)

SyntaxError: positional argument follows keyword argument (174855173.py, line 1)